.item {
    width: 500px;
    color: #535935;
    margin: 0 auto;
    font-size: 20px;
}
.itemName {
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid #e2dfdf;
}
.deleteBtn {
    float: right;
    padding: 5px 30px 5px 30px;
    border-radius: 8px;
    background-color: #735300;
    border: none;
    color: white;
    cursor: pointer;
}